<footer class="footer">
    <div class="content has-text-centered">
        <div>
            <p>
                © @DateTime.Now.Year Ostos Velázquez & Asociados, una sociedad venezolana y firma miembro de la organización global de KPMG de firmas miembro independientes de 
                KPMG afiliadas a KPMG International Ltd, una entidad privada Inglesa limitada por garantía. Todos los derechos reservados. RIF: J-00256910-7                
            </p>
        </div>
    </div>
</footer>