<?xml version="1.0" encoding="utf-8"?>
<!-- SC-CRIT-01: credenciales inyectadas como variables de entorno en el App Pool. -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\IITS.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess"
                  forwardWindowsAuthToken="true">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ConnectionStrings__IITS" value="Server=<SERVIDOR_SQL>,<PUERTO>;Database=<BASE_DE_DATOS>;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=True;" />
          <environmentVariable name="Auth__SuperAdminUsername" value="<DOMINIO>\<usuario_admin>" />
          <environmentVariable name="Email__Mode" value="Smtp" />
          <environmentVariable name="Email__From" value="IITS &lt;<correo_remitente>&gt;" />
          <environmentVariable name="Email__SmtpServer" value="<servidor_smtp>" />
          <environmentVariable name="Email__Port" value="25" />
          <environmentVariable name="Email__EnableSsl" value="false" />
          <environmentVariable name="PathBase" value="<ruta_virtual>" />
          <environmentVariable name="App__BaseUrl" value="https://<servidor_publico>/<ruta_virtual>" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
